<div class="example-loading-shade-2 d-flex justify-content-center" *ngIf="isLoading">
  <mat-spinner class="center-mat-spinner" style="color: darkblue;"></mat-spinner>
</div>

<div class="container justify-content-center d-flex">
  <div class="mt-2 d-flex">
    <h1>Bienvenido: </h1>
    <h1 style="color: purple;"> {{ this.userInfo.firstName + " " +  this.userInfo.lastName}}</h1>
  </div>
</div>
  
<div>
  <h4>Resumen de Cuentas bancarias: </h4>
</div>

  <div class="mt-2" *ngFor="let cuenta of cuentasBancarias" >
    <div class="card" style="align-items: center;">
      <h2>No. Cuenta: {{cuenta.numeroCuenta}}</h2>
        <img src="assets/dollar-sign.svg" width="75" height="75"/>
      <div class="card-body">
        <p style="color: green;">
          Monto Actual: {{  cuenta.montoActual | currency  }}
        </p> 
      </div>

      <div class="row d-inline-flex">
        <button (click)="showTransactions(cuenta)" type="button" class="btn btn-primary btn-sm mb-2 mr-1">Ver Transacciones</button>
        <button (click)="onDeposit(cuenta)" type="button" class="btn btn-primary btn-sm mb-2 mr-1">Deposito/Retiro</button>
      </div>

  </div>

  
</div>